<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
<%- include('head.ejs') %>
<div class="container">
    <div class="media">
        <div class="media-left media-top">
            <a href="#">
                <img class="media-object" src="/img/header/<%- user.header %>">
            </a>
        </div>
        <div class="media-body">
            <form class="publish-form" action="/pubContent/edit" method="post">
                <input type="hidden" name="article_id" value="<%- article.article_id %>">
                <div class="form-group">
                    <label for="title">标题<span>*</span></label>
                    <input type="text" class="form-control input-lg" id="title" name="title" value="<%- article.article_title %>">
                </div>
                <div class="form-group">
                    <label for="content">内容<span>*</span></label>
                    <textarea class="form-control" rows="15" name="content" id="content"><%- article.article_content %></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-lg">发布</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/jquery_3.4.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>